<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TerraTex_GT_MP_ServerControl.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TerraTex_GT_MP_ServerControl.app>
      <setting name="live_timeuntilrestart" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="dev_timeuntilrestart" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="live_path" serializeAs="String">
        <value>Please Select ...</value>
      </setting>
      <setting name="dev_path" serializeAs="String">
        <value>Please Select ...</value>
      </setting>
      <setting name="live_autorestart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dev_autorestart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="jenkinsUser" serializeAs="String">
        <value />
      </setting>
      <setting name="jenkinsPassword" serializeAs="String">
        <value />
      </setting>
    </TerraTex_GT_MP_ServerControl.app>
  </userSettings>
</configuration>